.container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.image,
.questions,
.options,
.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image>h3 {
    margin-top: 20px;
}

.questions {
    border: .1rem solid #4224d9;
    border-radius: 8px;
    background-color: #654ed2;
    width: 100%;
    height: 200px;
    font-size: 20px;
}

.options {
    margin: auto;
    margin-bottom: 20px;
    flex-direction: row;
}

.btn {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #18ab29;
    width: 20%;
    height: 100px !important;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    box-shadow: 0px 1px 0px #918f8f;
    text-transform: capitalize;
}

.btn:hover {
    background-color: #5cbf2a;
}

.btn:active {
    position: relative;
    top: 1px;
}

.results {
    width: 100%;
    height: 350px;
    background-color: #1f0539;
    border-radius: 10px;
    padding: 30px;
}

.results>h3 {
    font-size: 50px !important;
}

p {
    margin-bottom: 20px;
    font-size: 13px;
}

h4 {
    color: rgb(148, 36, 36);
    margin-bottom: 20px;

}

@media only screen and (max-width: 600px) {
    .options {
        flex-direction: column;
    }

    .btn {
        width: 100%;
    }
}